@import url('https://fonts.googleapis.com/css?family=Lato');
button{
    color: rgb(255, 255, 255);
    background-color: lightseagreen;
    border: none;
    text-align: center;
    display:inline-block;
    font-size: 30px;
    text-decoration: none;
    margin: 4px 2px;
    padding: 15px 32px;
    border-radius: 40px;


    
}

.header{
    background: rgb(28, 29, 29);
    padding: 10px;
    color: crimson;
    text-shadow: 2px 4px white;
    text-align: center;
    font-size:  100px;
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.break{
    height: 20px;

}
.header1{
    background:  rgb(28, 29, 29);
    padding: 10px;
    color: white;
    text-align: center;
    font-size:  30px;
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.footer{
    background:  rgb(28, 29, 29);
    padding: 10px;
    color: white;
    text-align: center;
    font-size:  30px;
    border-radius: 30px;
    text-shadow: 2px 2px 10px black;
    font-family: 'Segoe U6pxI', Tahoma, Geneva, Verdana, sans-serif;

}

button:hover{
    background-color:white;
    color: aqua;
    cursor: pointer;
}

button:active{
    background-color:rgb(2, 90, 90);

}

button:focus{
    outline: 0;
}

.instruct{
    background-color: white;
    color: black;
    padding: 15px 32px;
    border: none;
    border-radius: 30px;
    margin: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#dsl{
    color: green;
}

#dsl1{
    color: red;
    color:gol;
}

input[type="text"] {
    color: rgb(255, 255, 255);
    background-color: lightseagreen;
    border: none;
    text-align: center;
    display:inline-block;
    font-size: 30px;
    text-decoration: none;
    margin: 4px 2px;
    padding: 15px 32px;
    
}

input[type="text"]:focus{
    outline: 0;
}

label{
    font-family: 'Segoe U6pxI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  display: block;
  position: relative;
  margin: 5px auto;
  height: auto;
  width: 500px;
  padding: 20px;
}

h2 {
	color: rgb(41, 41, 41);
}

.container ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

ul li{
    color:rgb(41, 41, 41);
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
	border-bottom: 1px solid #333;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
	color: rgb(87, 87, 87);
}

ul li .check{
  display: block;
  position: absolute;
  border: 5px solid rgb(41, 41, 41);
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul li:hover .check {
  border: 5px solid rgb(87, 87, 87);
}

ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid lightseagreen;
}

input[type=radio]:checked ~ .check::before{
  background: lightseagreen;
}

input[type=radio]:checked ~ label{
  color: lightseagreen;
}


